<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
  <Name>Boke Video</Name>
  <Type>origin</Type>
  <IP>*</IP>
  <Bind>
    <Managers>
      <API>
        <Port>8081</Port>
      </API>
    </Managers>
    <Providers>
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
          <WorkerCount>1</WorkerCount>
        </Signalling>
        <IceCandidates>
          <IceCandidate>${PublicIP}:10000-10005/udp</IceCandidate>
        </IceCandidates>
      </WebRTC>
    </Providers>
    <Publishers>
      <WebRTC>
        <Signalling>
          <Port>3333</Port>
          <TLSPort>443</TLSPort>
          <WorkerCount>1</WorkerCount>
        </Signalling>
        <IceCandidates>
          <IceCandidate>${PublicIP}:10000-10005/udp</IceCandidate>
        </IceCandidates>
      </WebRTC>
      <Thumbnail>
        <Port>20080</Port>
      </Thumbnail>
    </Publishers>
  </Bind>
  <Managers>
    <Host>
      <Names>
        <Name>127.0.0.1</Name>
      </Names>
    </Host>
    <API>
      <AccessToken>replace-with-api-token</AccessToken>
    </API>
  </Managers>
  <VirtualHosts>
    <VirtualHost>
      <Name>default</Name>
      <Host>
        <Names>
          <Name>ingest.example.com</Name>
          <Name>rtc.example.com</Name>
        </Names>
      </Host>
      <SignedPolicy>
        <PolicyQueryKeyName>policy</PolicyQueryKeyName>
        <SignatureQueryKeyName>signature</SignatureQueryKeyName>
        <SecretKey>replace-with-strong-secret</SecretKey>
        <Enables>
          <Publishers>webrtc</Publishers>
        </Enables>
      </SignedPolicy>
      <Applications>
        <Application>
          <Name>live</Name>
          <Type>live</Type>
          <OutputProfiles>
            <OutputProfile>
              <Name>default</Name>
              <OutputStreamName>${OriginStreamName}</OutputStreamName>
              <Encodes>
                <Video>
                  <Name>video_bypass</Name>
                  <Bypass>true</Bypass>
                </Video>
                <Audio>
                  <Name>audio_bypass</Name>
                  <Bypass>true</Bypass>
                </Audio>
                <Image>
                  <Codec>jpeg</Codec>
                  <Framerate>1</Framerate>
                  <Width>640</Width>
                  <Height>360</Height>
                </Image>
              </Encodes>
              <Playlist>
                <Name>master</Name>
                <FileName>master</FileName>
                <Options>
                  <WebRtcAutoAbr>true</WebRtcAutoAbr>
                </Options>
                <RenditionTemplate>
                  <Name>${Height}p</Name>
                  <VideoTemplate>
                    <EncodingType>bypassed</EncodingType>
                    <VariantName>video_bypass</VariantName>
                  </VideoTemplate>
                  <AudioTemplate>
                    <EncodingType>bypassed</EncodingType>
                    <VariantName>audio_bypass</VariantName>
                  </AudioTemplate>
                </RenditionTemplate>
              </Playlist>
            </OutputProfile>
          </OutputProfiles>
          <Providers>
            <WebRTC>
              <CrossDomains>
                <Url>*</Url>
              </CrossDomains>
            </WebRTC>
          </Providers>
          <Publishers>
            <WebRTC>
              <Rtx>true</Rtx>
              <Ulpfec>true</Ulpfec>
            </WebRTC>
            <Thumbnail>
              <CrossDomains>
                <Url>*</Url>
              </CrossDomains>
            </Thumbnail>
          </Publishers>
        </Application>
      </Applications>
    </VirtualHost>
  </VirtualHosts>
</Server>
